@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.login-page {
    text-align: center;
}

.font-signika {
    font-family: Signika;
}

.login{
    margin-top: 100px;
}

.background-image{
    /* background-image:linear-gradient(rgba(255, 255, 255, 0.65), rgba(177, 177, 177, 0.062)), url(../assets/Login-background.png); */
    background-image:linear-gradient(rgba(184, 184, 184, 0.65), rgba(151, 151, 151, 0.062)), url(../assets/Login-background.png);
    width: 100%;
    height: 1007px;
    /* filter: blur(2px); */
    /* margin-top: 80px; */   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.signin-text{
    font-variant: small-caps;
    font-weight: 400;
    margin-bottom: 24px;
}

.welcome-text{
    margin-top: 100px;
}

.signin-btn{
    background-color: #528A62;
    color: white;
    width: 150px;
    font-size: 18px;
    border-radius: 10px;
    filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.07)) drop-shadow(0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198)) drop-shadow(0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275)) drop-shadow(0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035)) drop-shadow(0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725)) drop-shadow(0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802));
}

.navbar-signin{
    width: 100%;
}

/* SIGN UP CSS */

.card-signup{
    border-radius: 10px;
    /* background: linear-gradient(rgba(245, 245, 245, 0.0625), rgba(245, 245, 245, 0.062)) ; */
    padding: 10px 20px;

    /* backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(191, 191, 191, 0.37);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125); */

    background: rgba( 194, 194, 194, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 8px );
    -webkit-backdrop-filter: blur( 8px );
    border-radius: 10px;

}